body .profile-pic {
    width: 30%;
    max-width: 40%; /* Prevent the image from exceeding the container's width */
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

body .caption {
    font-size: 1.0em;
    margin-bottom: 20px;;
    color: #949494;
    text-align: center;
}

body .about-text {
    font-size: 1.15em;
    font-weight: 400;
    text-align: justify;
    color: var(--color_text); /* Change the color of the text */
    width: 60%;
    margin: 0 auto;
    margin-bottom: 3%;
}