body li {
    font-size: 1.15em;
    font-weight: 400;
    text-align: justify;
    color: #181818;
    width: 50%;
    margin: 10px auto;
}

#intro {
    font-size: 1.15em;
    font-weight: 400;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}