body .density-gif {
    width: 50%;
    max-width: 100%; /* Prevent the image from exceeding the container's width */
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

body h1 {
    margin: 0% auto 1% auto;
}

body h2 {
    font-size: 2em;
    margin: 25px auto;
}

.research-body {
    margin-bottom: 20px;
}

.research-body p, .research-body ul, .research-body form {
    font-size: 1.15em;
    font-weight: 400;
    text-align: justify;
    width: 60%;
    margin: 0 auto;
}

.research-body li {
    margin: 10px;
    color: var(--color_text)
}

.research-body .caption {
    font-size: 1.0em;
    margin-bottom: 20px;;
    color: #949494;
    text-align: center;
}
