/* Specific styles for the research page */
body h1, h2 {
    font-weight: 600;
    font-size: 3em;
    color: #4a5e6a; /* Change the color of the text */
    text-align: center;
}

body .density-gif {
    width: 50%;
    max-width: 100%; /* Prevent the image from exceeding the container's width */
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

body .caption {
    font-size: 1.0em;
    margin-bottom: 20px;;
    color: #949494;
    text-align: center;
}

body h1 {
    margin: 0% auto 1% auto;
}

body h2 {
    font-size: 2em;
    margin: 25px auto;
}

.research-body p, .research-body ul, .research-body form {
    font-size: 1.15em;
    font-weight: 400;
    text-align: justify;
    color: #181818; /* Change the color of the text */
    width: 70%;
    margin: 0 auto;
}
