@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Semibold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Black.otf') format('opentype');
    font-weight: 900;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    padding: 10px 0;
}

header h1 {
    text-align: left;
    margin-left: 10%;
    color: #35424a;
    font-weight: 600;
}

nav {
    margin: 20px 0;
}

nav a {
    background: #4a5e6a;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

header nav ul {
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin-left: 10%;
    display: flex; /* Arrange items in a horizontal row */
    justify-content: left; /* Center the items */
    gap: 15px; /* Add spacing between items */
}

nav a:hover {
    background: #e8491d;
    color: #ffffff;
}

.background-image {
    background:
        url('../images/background.png') no-repeat center center,
        linear-gradient(to left, #e3e0d1 50%, #d1cebb 50%); /* Gradient layer */
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /* Make the div cover the full viewport height */
    box-sizing: border-box; /* Include padding and border in height calculations */
}
    
main {
    flex: 1; /* This pushes the footer to the bottom */
    font-size: 1.2em;
    margin-left:  10%;
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Arrange children vertically */
    justify-content: left;
}

@media (max-width: 700px) {
    .background-image {
        background: 
            url('../images/background.png') no-repeat 85% center,
            #e3e0d1;
        background-size: 225% auto;
    }
}

main .main-text {
    background-color: rgba(227, 224, 209, 0.7);
    color: #181818;
    text-align: justify;
    max-width: 30%;
    margin: 0;
}

@media (max-width: 700px) {
    main {
        /* flex: 1; /* This pushes the footer to the bottom */
        font-size: 1.2em;
        margin-left:  10%;
        margin-top: 0%;
        display: flex; /* Enable Flexbox */
        flex-direction: column; /* Arrange children vertically */
        justify-content: center;
    }
    main .main-text {
        background-color: rgba(227, 224, 209, 0.8);
        color: #101010;
        text-align: justify;
        max-width: 88.8%;
    }
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    /* padding: 20px 0; */
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 0px;
    font-size: 0.9em; /* Increase the font size */
}

footer a {
    font-size: 1.0em; /* Increase the font size */
    padding: 10px 15px; /* Add padding for a larger clickable area */
    color: #ffffff; /* Ensure the text color is white */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Ensure proper spacing */
    transition: transform 0.3s ease; /* Add a smooth zoom effect on hover */
}

/* Specific styles for the research page */
.research {
    background-color: #e3e0d1;
}

.research h1, h2 {
    font-weight: 600;
    font-size: 3em;
    color: #4a5e6a; /* Change the color of the text */
    text-align: center;
}

.research .density-gif {
    width: 50%;
    max-width: 100%; /* Prevent the image from exceeding the container's width */
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.research .caption {
    font-size: 1.0em;
    margin-bottom: 20px;;
    color: #949494;
    text-align: center;
}

.research h1 {
    margin: 0% auto 1% auto;
}

.research h2 {
    font-size: 2em;
    margin: 25px auto;
}

.research p, .research ul, .research form {
    font-size: 1.15em;
    font-weight: 400;
    text-align: justify;
    color: #181818; /* Change the color of the text */
    width: 70%;
    margin: 0 auto;
}

/* Specific styles for the about page */
.about {
    background-color: #e3e0d1;
}

.about h1 {
    font-weight: 600;
    font-size: 3em;
    color: #4a5e6a; /* Change the color of the text */
    text-align: center;
    margin: 0% auto 1% auto;
}

.about .profile-pic {
    width: 50%;
    max-width: 100%; /* Prevent the image from exceeding the container's width */
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.about .caption {
    font-size: 1.0em;
    margin-bottom: 20px;;
    color: #949494;
    text-align: center;
}

.about p {
    font-size: 1.15em;
    font-weight: 400;
    text-align: justify;
    color: #181818; /* Change the color of the text */
    width: 60%;
    margin: 0 auto;
}

.educational h1 {
    font-weight: 600;
    font-size: 3em;
    color: #4a5e6a; /* Change the color of the text */
    text-align: center;
    margin: 0% auto 1% auto;
}

.educational li {
    font-size: 1.15em;
    font-weight: 400;
    text-align: justify;
    color: #181818; /* Change the color of the text */
    width: 60%;
    margin: 0 auto;
}

.educational p {
    font-size: 1.15em;
    font-weight: 400;
    text-align: center;
    color: #181818; /* Change the color of the text */
    width: 60%;
    margin: 0 auto;
}

.distance {
    background-color: #e3e0d1;
}

.distance h1 {
    font-weight: 600;
    font-size: 3em;
    color: #4a5e6a; /* Change the color of the text */
    text-align: center;
    margin: 0% auto 1% auto;
}

.distance .plot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

.distance .updateButton {
    width: 120px;
    max-width: 100%;
    margin: 0 auto;
}

.distance .input-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
}

/* Styles for the back to home button, common to research and about */
.back a {
    background: #4a5e6a; /* Default background color */
    color: #ffffff; /* Default text color */
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.back a:hover {
    background: #e8491d;
    color: #ffffff;
}

.attribution {
    font-size: 0.75em;
}